
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="/assets/frontoffice/fonts/icomoon/style.css">
<link rel="stylesheet" href="/assets/frontoffice/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/frontoffice/css/jquery-ui.css">

<link rel="stylesheet" href="/assets/frontoffice/css/owl.theme.default.min.css">
<link rel="stylesheet" href="/assets/frontoffice/css/jquery.fancybox.min.css">
<link rel="stylesheet" href="/assets/frontoffice/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="/assets/frontoffice/fonts/flaticon/font/flaticon.css">
<link rel="stylesheet" href="/assets/frontoffice/css/style.css">

<app-apropos></app-apropos>
<app-equipe></app-equipe>
<app-prestations></app-prestations>
<app-actualite></app-actualite>
<app-contact></app-contact>
<app-footer></app-footer>
<script src="/assets/frontoffice/js/jquery-3.3.1.min.js"></script>
<script src="/assets/frontoffice/js/jquery-ui.js"></script>
<script src="/assets/frontoffice/js/popper.min.js"></script>
<script src="/assets/frontoffice/js/bootstrap.min.js"></script>
<script src="/assets/frontoffice/js/owl.carousel.min.js"></script>
<script src="/assets/frontoffice/js/jquery.countdown.min.js"></script>
<script src="/assets/frontoffice/js/jquery.easing.1.3.js"></script>
<script src="/assets/frontoffice/js/aos.js"></script>
<script src="/assets/frontoffice/js/jquery.fancybox.min.js"></script>
<script src="/assets/frontoffice/js/jquery.sticky.js"></script>

<script src="/assets/frontoffice/js/main.js"></script>
