<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Banques</h1>
  <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
    For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official
      DataTables documentation</a>.</p>

      Pour Ajouter une banque clique ici <button class="btn btn-primary" (click)="addBanque()">Ajouter</button>
      <br/><br/>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Liste des banques</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nom</th>
              <th>Capital</th>
              <th>Adresse</th>
              <th>Logo</th>
              <th>Supprimer</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>ID</th>
              <th>Nom</th>
              <th>Capital</th>
              <th>Adresse</th>
              <th>Logo</th>
              <th>Supprimer</th>
            </tr>
          </tfoot>
          <tbody>
            <tr *ngFor="let banque of  banques">
              <td>{{banque.id}}</td>
              <td>{{banque.nom}}</td>
              <td>{{banque.capital}}</td>
              <td>{{banque.adresse}}</td>
              <td>{{banque.logo}}</td>
              <td>Supprimer</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->

