<section class="site-section border-bottom" id="team-section">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-md-8 text-center">
        <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">Notre équipe</h2>
        <p class="lead" data-aos="fade-up" data-aos-delay="100">A small river named Duden flows by their place and
          supplies it with the necessary regelialia.</p>
      </div>
    </div>
    <div class="row">



      <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="">
        <div class="team-member">
          <figure>
            <ul class="social">
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-twitter"></span></a></li>
              <li><a href="#"><span class="icon-linkedin"></span></a></li>
              <li><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
            <img src="/assets/frontoffice/images/person_1.jpg" alt="Image" class="img-fluid">
          </figure>
          <div class="p-3">
            <h3>Kaiara Spencer</h3>
            <span class="position">Accountant</span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
        <div class="team-member">
          <figure>
            <ul class="social">
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-twitter"></span></a></li>
              <li><a href="#"><span class="icon-linkedin"></span></a></li>
              <li><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
            <img src="/assets/frontoffice/images/person_2.jpg" alt="Image" class="img-fluid">
          </figure>
          <div class="p-3">
            <h3>Dave Simpson</h3>
            <span class="position">Bank Teller</span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="200">
        <div class="team-member">
          <figure>
            <ul class="social">
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-twitter"></span></a></li>
              <li><a href="#"><span class="icon-linkedin"></span></a></li>
              <li><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
            <img src="/assets/frontoffice/images/person_3.jpg" alt="Image" class="img-fluid">
          </figure>
          <div class="p-3">
            <h3>Ben Thompson</h3>
            <span class="position">Bank Teller</span>
          </div>
        </div>
      </div>



    </div>
  </div>
</section>
