<section class="site-section" id="blog-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center" data-aos="fade">
        <h2 class="section-title mb-3">Nos actualités</h2>
      </div>
    </div>

    <div class="row">
      <div *ngFor="let actualite of actualites" class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="">
        <div class="h-entry">
          <a href="single.html">
            <img src="/assets/frontoffice/images/img_1.jpg" alt="Image" class="img-fluid">
          </a>
          <h2 class="font-size-regular"><a href="#">{{actualite.titre}}</a></h2>
          <div class="meta mb-4">Ham Brook <span class="mx-2">&bullet;</span>{{actualite.dateCreation}}<span
              class="mx-2">&bullet;</span> <a href="#">News</a></div>
          <p>{{actualite.description}}</p>
          <p><a href="#">Continue Reading...</a></p>
        </div>
      </div>



    </div>
  </div>
</section>
